<h1
  *ngIf="(auth.isAuthenticated$ | async) === false"
  class="empty-cart-message">
  Login before adding to the cart
</h1>
<div *ngIf="auth.user$ | async as user">
  <h1
    *ngIf="cartList.length === 0 || cartList === null"
    class="empty-cart-message">
    Cart is empty
  </h1>
  <div class="cart-container" *ngIf="cartList.length > 0">
    <div class="cart-panel">
      <div class="cart-item" *ngFor="let product of cartList">
        <img src="{{ product.url }}" alt="" />
        <ul class="cart-items-details">
          <li class="title-item h3">{{ product.name }}</li>
          <li>{{ product.price | currency }}</li>
          <label for="quantity">Quantity</label>
          <input
            class="form-control number-input"
            type="number"
            name="quantity"
            value="{{ product.quantity }}"
            [(ngModel)]="product.quantity"
            (ngModelChange)="updateCart(product)" />
        </ul>
      </div>
      <div>
        <h3 class="alert alert-secondary">
          Total: {{ totalAmount | currency }}
        </h3>
      </div>
    </div>
    <!-- insert form -->
    <app-user-data
      [totalAmount]="totalAmount"
      (emptyCart)="getEmptyCart($event)"></app-user-data>
  </div>
</div>
