<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand ps-4" routerLink="/">{{ title }}</a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
      </ul>

      <form class="d-flex">
        <button
          class="btn btn-primary"
          *ngIf="(auth.isAuthenticated$ | async) === false"
          (click)="loginWithRedirect()">
          Log in
        </button>
        <button
          class="btn btn-danger"
          *ngIf="(auth.isAuthenticated$ | async) === true"
          (click)="logOut()">
          Log out
        </button>
      </form>
    </div>
  </nav>
</header>
